@import "../../scss/variables";
@import "../../scss/extends";

.article-list {
  &__item {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:first-child,
    &:nth-child(4n + 5) {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      padding-right: 7.0625rem;
    }

    &:nth-child(2),
    &:nth-child(4n + 6) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    &:nth-child(4n + 3),
    &:nth-child(4n + 4) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &:nth-child(4n + 3) {
      padding-right: 4rem;
    }

    &:nth-child(4n + 4) {
      padding-left: 4rem;
    }
  }

  &__picture {
    &::before {
      content: none;
    }

    &:hover + .article-list__caption span {
      background-size: 100% 100%;
    }
  }

  &__caption {
    max-width: 80%;
    margin: 1rem 0 0 1rem;
    position: relative;

    &::before {
      content: none;
    }

    span {
      @extend %text-underline;
    }
  }

  &__rubric {
    @extend %rubric;
    text-transform: none;
    margin-top: 3px;
    margin-left: 1rem;
    font-size: 0.8rem;
  }
}