.container
    nav.footer__nav
        ul.footer__nav__list
            li.footer__nav__item
                a.footer__nav__link(src="#") О нас
            li.footer__nav__item
                a.footer__nav__link(src="#") Хочешь к нам?
            li.footer__nav__item
                a.footer__nav__link.active(src="#") Контакты
            li.footer__nav__item
                a.footer__nav__link(src="#") #Фильтр по хештегу
            li.footer__nav__item
                a.footer__nav__link(src="#") Рекламодателям
    
    .footer__privacy__list
        a(href="#").footer__privacy__item Политика обработки персональных данных
        a(href="#").footer__privacy__item Политика конфиденциальности
        a(href="#").footer__privacy__item Пользовательское соглашение
        a(href="#").footer__privacy__item Политика использования файлов cookie

    ul.footer__socials__list
        li.footer__social__item
            a.icon-link(src="" target="_blank" rel="nofollow")
                i.fab.fa-facebook-f
        li.footer__social__item
            a.icon-link(src="" target="_blank" rel="nofollow")
                i.fab.fa-instagram
        li.footer__social__item
            a.icon-link(src="" target="_blank" rel="nofollow")
                i.fab.fa-vk
        li.footer__social__item
            a.icon-link(src="" target="_blank" rel="nofollow")
                i.fab.fa-odnoklassniki 
        li.footer__social__item
            a.icon-link(src="" target="_blank" rel="nofollow")
                i.fab.fa-twitter
        li.footer__social__item
            a.icon-link(src="" target="_blank" rel="nofollow")
                i.fab.fa-telegram-plane
        li.footer__social__item
            a.icon-link(src="" target="_blank" rel="nofollow")
                i.fab.fa-pinterest-p
        li.footer__social__item
            a.icon-link(src="" target="_blank" rel="nofollow")
                i.fab.fa-flipboard
    
    .footer__copy 
        p © OOO "Издательсьво "Спэйс Билдер" 2019 - 2020. Все права защищены.
            br
            | По вопросам соблюдения интеллектуальных прав обращайтесь по адресу 
            a(href="mailto:intellectualrights@spacebuilder.ru") intellectualrights@spacebuilder.ru

    .footer__logo
        a.header__logo(href="/") 
            span.header__logo__letter Sb
            span.header__logo__name Spacebuilder
