.container
    .header__wrapper
        a.logo(href="/") 
            span.logo__caption Spacebuilder
            span.logo__letter Sb
    
        nav.header__nav
            ul.header__nav__list#headerNav
                li.header__nav__item
                    a.header__nav__link(src="#") о нас
                li.header__nav__item
                    a.header__nav__link(src="#") опубликовать проект
                li.header__nav__item
                    a.header__nav__link.active(src="#") контакты
                li.header__nav__item
                    a.header__nav__link(src="#") рекламодателям
    
        ul.header__socials__list
            li.header__social__item
                a.icon-link(src="" target="_blank" rel="nofollow")
                    i.fab.fa-facebook-f
            li.header__social__item
                a.icon-link(src="" target="_blank" rel="nofollow")
                    i.fab.fa-instagram
            li.header__social__item
                a.icon-link(src="" target="_blank" rel="nofollow")
                    i.fab.fa-vk
            li.header__social__item
                a.icon-link(src="" target="_blank" rel="nofollow")
                    i.fab.fa-odnoklassniki 
            li.header__social__item
                a.icon-link(src="" target="_blank" rel="nofollow")
                    i.fab.fa-twitter
            li.header__social__item
                a.icon-link(src="" target="_blank" rel="nofollow")
                    i.fab.fa-telegram-plane
            li.header__social__item
                a.icon-link(src="" target="_blank" rel="nofollow")
                    i.fab.fa-pinterest-p
            li.header__social__item
                a.icon-link(src="" target="_blank" rel="nofollow")
                    i.fab.fa-flipboard