@import '../../scss/variables';

.logo {
  width: 115px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.93em;
  cursor: pointer;
  color: $color-primary-font;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -.05em;

  &__letter {
    display: block;
    position: absolute;
    color: $color-d;
    font-size: 3.1rem;
    font-weight: 700;
    left: 50%;
    transform: translate(-52%, -2px);
    text-transform: none;
    background: linear-gradient(67deg,#575858,#9b9d9b 50%,#dadbd9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__caption {
    z-index: 1;
  }

  &::before {
    content: none;
  }
}

.footer .logo {
  margin-top: 50px;
}