@import '../../scss/variables';

.logo {
  width: 39px;
  height: 3.5rem;
  cursor: pointer;
  display: flex;

  &::before {
    content: none;
  }
}

.footer .logo {
  margin-top: 1rem;

  @media (max-width: $sm - 1) {
    display: none;
  }

  @media (max-height: $sm) {
    display: none;
  }
}