@import "../../scss/variables";
@import "../../scss/extends";

.privacy {

  &__list {
    @media (max-width: $l - 1) {
      margin-bottom: 2rem;
    }

    @media (max-height: $s) {
      display: none;
    }
  }

  &__item {
    margin-bottom: 20px;

    @media (max-width: $l - 1) {
      margin-bottom: 7px;
    }

    @media (max-width: $s - 1) {
      margin-bottom: 3px;
    }
  }

  &__link {
    display: inline-block;
    text-transform: none;
    @extend %text-underline;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.875rem;
    width: auto !important;

    &::before {
      content: none;
    }

    &::first-letter {
      text-transform: uppercase;
    }

    @media (max-width: $s - 1) {
      font-size: 0.8rem;
    }
  }
}