@import '../../scss/variables';

.btn-envelope {
  z-index: 1;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.63rem;
  margin: 7px 0 7px 1rem;
  padding-left: 1rem;
  padding-right: 0;
  line-height: calc(3.5rem - 14px);
  border-left: 1px solid rgba(0, 0, 0, .1);

  svg path {
    fill: $color-primary-font;
    transition: fill .3s;
  }

  &:hover {
    svg path { fill:$color-l; }
  }

  &:link,
  &:visited,
  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}