.pnf {
  &__pic {
    width: 300px;
    margin: 5rem 0 0;
  }

  &__btn {
    padding: 1.5rem 3rem !important;
  }
}

@keyframes title-animate {
  from {
    backdrop-filter: blur(3px);
  }
  to {
    backdrop-filter: blur(25px);
  }
}

