@import "../../scss/variables";
@import "../../scss/extends";

.last-article {
  height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: $lg - 1) {
    height: auto;
    padding: 3rem 0 6rem;
  }

  @media (max-width: $sm - 1) {
    padding: 2rem 0 3rem;
    min-height: calc(100vh - 3.5rem);
  }

  &__picture-wrap {
    @media (max-width: $lg - 1) {
      position: relative !important;
      height: auto;
      width: auto !important;
      padding: 0 !important;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    right: -108px;
    top: 0;
    width: 100vw;
    height: calc(100vh - 3.5rem);
    background-color: black;

    @media (max-width: $lg - 1) {
      width: 200vw;
      right: auto;
      left: -50%;
      height: 100%;
      background: #000;
    }
  }

  &__link {
    @extend %rubric;
  }

  &__title {
    padding-top: 0;
    padding-bottom: 1.3rem;
    word-spacing: 2px;
    font-weight: 200;
    line-height: 1.25;
    letter-spacing: 0;
    text-transform: none;
    font-size: 4vw;
    color: $color-secondary-font ;

    @media (max-width: $xl - 1) {
      font-size: 3.3rem;
    }

    @media (max-width: $lg - 1) {
      font-size: 2.5rem;
    }

    @media (max-width: $sm - 1) {
      font-size: 2rem;
    }

    &::before {
      content: none;
    }

    @media (min-width: $lg) {
      &:hover {
        color: $color-secondary-font ;
      }
    }

    span {
      @extend %text-underline;
      background-image: linear-gradient(transparent calc(100% - 2px),#fff 2px);

      @media (max-width: $lg - 1) {
        background: none;
      }

      &.hover {
        background-size: 100% 100%;
      }
    }
  }

  &__description {
    max-width: 77%;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    line-height: 1.25;
    font-size: 1rem;
    color: $color-secondary-font ;
    font-weight: 200;
    z-index: 1;

    @media (max-width: $sm - 1) {
      max-width: 100%;
    }
  }

  &__picture {
    min-height: calc(100vh - 3.5rem);

    img {
      min-height: calc(100vh - 3.5rem);
      width: auto;
      max-width: none;
      transform: translateX(-30%);

      @media (max-width: $xxl - 1) {
        max-height: calc(100vh - 3.5rem);
      }

      @media (max-width: $lg - 1) {
        min-height: auto;
        max-height: none;
        width: 100%;
        transform: none;
        top: -3rem;
        position: relative;
        z-index: 9;
        margin-bottom: -2rem;
      }

      @media (max-width: $sm - 1) {
        top: 0;
        margin-bottom: 0;
      }
    }

    &::before {
      content: none;
    }
  }
}