.person-card {
  &__item {
    padding-bottom: 3rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__position {
    display: block;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 3px;
  }

  &__name {
    display: block;
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
  }

  &__email {
    font-weight: 300;
  }
}