@import "../../../scss/variables";
@import "../../../scss/extends";

.article {
  margin-bottom: 2rem;

  &__rubric {
    display: inline-block;
    width: auto;
    @extend %text-underline;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__title {
    font-size: 4.25rem;
    font-weight: 300;
    text-transform: none;
    line-height: 5.3125rem;
    letter-spacing: normal;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    max-width: 77%;
  }

  &__subtitle {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.9;
    padding-top: 0.5rem;
    max-width: 77%;
    margin-bottom: 5rem;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    color: $color-light-font;
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__copywriter {
    display: inline-block;
    width: auto;
    text-transform: capitalize;
  }

  &__date {
    font-size: 0.9rem;
    color: $color-light-font;
  }

  &__wrap {
    margin-top: 4.1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;

    p {
      font-family: 'EB Garamond', serif;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 2;
      padding: 0 5%;
      letter-spacing: 0.4px;
      word-spacing: 2px;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    figure {
      margin-top: 5rem;
      margin-bottom: 4rem;

      p {
        padding: 0;
      }

      &[data-position="vertical"] {
        max-width: 77%;
      }

      figcaption {
        padding-left: 10%;
        font-family: 'EB Garamond', serif;
        font-style: italic;
        text-align: right;
        letter-spacing: 0.3px;
        color: $color-light-font;
        line-height: 1.7rem;
      }
    }

    figure + figure {
      margin-top: 1rem;
    }
  }

  &__sidebar {
    margin-top: 6rem;

    .adv-banner {
      display: flex;
      justify-content: center;
    }
  }
}