@import "../../../scss/extends";
@import "../../../scss/variables";

.article {
  margin-bottom: 2rem;

  &__rubric {
    display: inline-block;
    width: auto;
    @extend %text-underline;

    &::before {
      content: "#";
    }

    @media (max-width: $lg - 1) {
      margin-top: 4.5rem;
    }

    @media (max-width: $sm - 1) {
      margin-top: 3rem;
    }
  }

  &__title {
    font-size: 4.25rem;
    font-weight: 300;
    text-transform: none;
    line-height: 1.3;
    letter-spacing: normal;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    max-width: 77%;

    @media (max-width: $xl - 1) {
      max-width: none;
    }

    @media (max-width: $lg - 1) {
      font-size: 4rem;
    }

    @media (max-width: $md - 1) {
      font-size: 3rem;
    }

    @media (max-width: $sm - 1) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.9;
    padding-top: 0.5rem;
    max-width: 77%;
    margin-bottom: 5rem;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    color: $color-light-font;

    @media (max-width: $md - 1) {
      max-width: none;
      margin-bottom: 4rem;
    }
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__copywriter {
    display: inline-block;
    width: auto;
    text-transform: capitalize;
  }

  &__date {
    font-size: 0.9rem;
    color: $color-light-font;
  }

  &__wrap {
    margin-top: 4.1rem;

    @media (max-width: $md - 1) {
      margin-top: 3rem;
    }

    @media (max-width: $sm - 1) {
      margin-top: 2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-family: 'EB Garamond', serif;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.7;
      padding: 0 5%;
      letter-spacing: 0.4px;
      word-spacing: 2px;
      margin-bottom: 1rem;
      margin-top: 1rem;

      @media (max-width: $lg - 1) {
        font-size: 1.375rem;
        line-height: 1.5;
        padding: 0;
      }

      @media (max-width: $md - 1) {
        font-size: 1.5rem;
      }
    }

    figure {
      margin-top: 5rem;
      margin-bottom: 4rem;
      width: 100%;

      @media (max-width: $lg - 1) {
        margin-top: 4rem;
        margin-bottom: 3rem;
      }

      @media (max-width: $md - 1) {
        margin-top: 3rem;
        margin-bottom: 2rem;
      }

      p {
        padding: 0;
      }

      &[data-position="vertical"] {
        max-width: 77%;

        @media (max-width: $md - 1) {
          max-width: none;
        }
      }

      figcaption {
        padding-left: 10%;
        font-family: 'EB Garamond', serif;
        font-style: italic;
        text-align: right;
        letter-spacing: 0.3px;
        color: $color-light-font;
        line-height: 1.7rem;
      }
    }

    figure + figure {
      margin-top: 1rem;
    }
  }

  &__sidebar {
    margin-top: 6rem;

    .adv-banner {
      display: flex;
      justify-content: center;
    }
  }
}