@import "../../scss/variables";
@import "../../scss/extends";

.last-rubric-article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__title {
    max-width: 77%;
    padding-top: 0;
    padding-bottom: 1.3rem;
    font-weight: 400;
    line-height: 3.75rem;
    letter-spacing: 0;
    text-transform: none;
    font-size: 3rem;
    color: $color-primary-font;

    &:hover {
      color: $color-primary-font;
    }

    &::before {
      content: none;
    }

    span {
      @extend %text-underline;
      background-image: linear-gradient(transparent calc(100% - 2px), $color-primary-font 2px);

      &.hover {
        background-size: 100% 100%;
      }
    }
  }

  &__description {
    max-width: 77%;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    line-height: 1.33;
    font-size: 0.75rem;
    color: $color-primary-font;
    opacity: 0.6;
    z-index: 1;
  }
}