@import "../../scss/variables";
@import "../../scss/extends";

.popular-list-item {
  width: 300px;
  height: 407px;
  margin-right: 32px;
  background-color: $color-back;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  display: inline-flex;

  &__picture {
    height: 190px;
    width: 100%;
    background-size: cover;
    display: inline-block;

    &:hover + .popular-list-item__caption span {
      background-size: 100% 100%;
    }
  }

  &__caption {
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0;
    padding: 0.5rem 1rem 0 1.4rem;
    max-width: 100%;
    width: 100%;
    text-transform: uppercase;
    display: inline-block;

    span {
      @extend %text-underline;
    }
  }

  &__description {
    font-size: 0.75rem;
    padding: 0 1rem 1rem 1.4rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
      opacity: .8;
    }

    a {
      width: auto;
      font-size: 0.73rem;
      line-height: 1rem;
      font-weight: 700;
      padding-top: 5px;
      letter-spacing: 1px;
      left: 0;
      opacity: 1;
      transition: all .3s;

      &:hover {
        opacity: .77;
        left: 3px;
      }
    }
  }
}