@import "../../scss/variables";
@import "../../scss/extends";

.article-list {
  padding: 6rem 0 1rem;

  &__item {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__picture {
    &::before {
      content: none;
    }

    &:hover + .article-list__caption span {
      background-size: 100% 100%;
    }
  }

  &__caption {
    max-width: 80%;
    margin: 1rem 0 0 1rem;
    position: relative;

    &::before {
      content: none;
    }

    span {
      @extend %text-underline;
    }
  }

  &__link {
    text-transform: none;
    margin-top: 3px;
    margin-left: 1rem;
    font-size: 0.8rem;
  }
}