@import "../../scss/variables";

.main-page-title {
  font-size: 4rem;
  line-height: 1.13;
  padding-bottom: 4.7rem;

  span {
    font-weight: 100;
    word-spacing: 2px;
    color: $color-primary-font;
    background: linear-gradient(67deg,#575858,#9b9d9b 50%,#dadbd9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}