.container
    .row.article__list
        article.article.col-lg-7
            a(href="#").article__item__pic-link
                img(src="/img/temp/smart-kvartira-v-brazilii-pufikhomes-1-1.jpg" alt="")
            a(href="#").article__item__caption-link
                span.text-underline Светлая квартира с персиковыми стенами на окраине Стокгольма
            div
                a.hashtag(href="#") Маленькие квартиры

        article.article.col-lg-5
            a(href="#").article__item__pic-link
                img(src="/img/temp/interesting-colors-in-new-york-apartment-pufikhomes-1-1.jpg" alt="")
            a(href="#").article__item__caption-link
                span.text-underline Интересные цветовые сочетания в интерьере квартиры в Нью-Йорке
            div
                a.hashtag(href="#") Маленькие квартиры

        article.article.col-lg-6.pr-5
            a(href="#").article__item__pic-link
                img(src="/img/temp/elegantnaya-skandinavskaya-kvartira-v-priglushennyh-tonah-pufikhomes-1.jpg" alt="")
            a(href="#").article__item__caption-link
                span.text-underline Элегантная скандинавская квартира в приглушенных тонах
            div
                a.hashtag(href="#") Маленькие квартиры

        article.article.col-lg-6.pl-5
            a(href="#").article__item__pic-link
                img(src="/img/temp/malenkaya-kvartira-v-temno-seryh-tonah-v-shvecii-40kvm-pufikhomes-2-1.jpg" alt="")
            a(href="#").article__item__caption-link
                span.text-underline Маленькая серая квартира с видом на залив в Стокгольме
            div
                a.hashtag(href="#") Маленькие квартиры