.container.article__list
    article.row.article__item.article__item_colorize1
        .col-lg-8
            .article__item__pic
                a.hashtag(href="#") #Дом
                a(href="#").article__item__pic-link
                    img(src="/img/temp/minimalist-chalet-with-amazing-view-pufikhomes-3.jpg" alt="")
        .col-lg-4
            .article__item__caption
                h3 Минималистичный деревянный домик в горах с роскошным видом
                p Роскошный вид из окон этого горного домика во Франции контрастирует с простым, но уютным интерьером. Отделка выполнена из светлого дерева, почти вся мебель также...
                a(href="#").button Читать
    
    
    .row
        .col-lg-4
            article.article__item
                .article__item__pic
                    a.hashtag(href="#") #Квартира
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/smart-kvartira-v-brazilii-pufikhomes-1-1.jpg" alt="").article__pic
                .article__item__caption
                    h3 Smart квартира в Бразилии (38 кв. м)
                    p Эта светлая современная квартира в Сан-Паулу, Бразилия, имеет площадь всего 38 кв. м, но дизайнерам удалось реализовать в ней почти всё пожелания хозяина.
                    a(href="#").button Читать
        .col-lg-4
            article.article__item
                .article__item__pic
                    a.hashtag(href="#") #Современный Арт-Деко
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/elegantnaya-krasivaya-sovremennaya-kvartira-v-stokgolme-pufikhomes-4a.jpg" alt="").article__pic
                .article__item__caption
                    h3 Изысканный дизайн современных апартаментов дизайнера в Стокгольме
                    p Эта роскошная современная квартира в Стокгольме наполнена уникальной дизайнерской мебелью и оригинальными предметами декора. Владелец апартаментов, дизайнер Eric Bratsberg решил сделать акцент на...
                    a(href="#").button Читать
        .col-lg-4
            article.article__item
                .article__item__pic
                    a.hashtag(href="#") #Скандика
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/korichnevye-steny-v-skandinavskoi-kvartire-pufikhomes-1-1.jpg" alt="").article__pic
                .article__item__caption
                    h3 Современная квартира с музыкальной комнатой в Стокгольме
                    p Несмотря на стереотипы, сочетание бежевого и серого может быть удачным, главное подобрать правильные оттенки. Например, как в этой квартире для молодой семьи в Стокгольме.
                    a(href="#").button Читать
    
    
    article.row.article__item.article__item_colorize2
        .col-lg-4
            .article__item__caption
                h3 Обои с растениями, жёлтый диван и золото: яркие апартаменты в Париже
                p Эта квартира в Париже досталась хозяевам в неплохом состоянии, но прежний ремонт безнадёжно устарел. Дизайнеру предстояло создать интерьер в стиле современной классики для семьи с двумя детьми. Главные преимущества подобных квартир...
                a(href="#").button Читать
        .col-lg-8
            .article__item__pic
                a.hashtag(href="#") #Квартира
                a(href="#").article__item__pic-link
                    img(src="/img/temp/yarkaya-sovremennaya-kvartira-v-parizhe-pufikhomes-1-1.jpg" alt="")


    .row
        .col-lg-4
            article.article__item
                .article__item__pic
                    a.hashtag(href="#") #Подборки
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/kids-room-for-two-three-pufikhomes-2a.jpg" alt="").article__pic
                .article__item__caption
                    h3 Детская для двоих или троих: несколько прекрасных идей
                    p Если в семье больше одного ребенка, а детская всего одна, то это может стать настоящей головной болью для родителей. Но дизайнеры сайта El Mueble убеждены, что не нужно расстраиваться...
                    a(href="#").button Читать
        .col-lg-4
            article.article__item
                .article__item__pic
                    a.hashtag(href="#") #Концепции
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/minimalistichnaya-kvartira-v-moskve-pufikhomes-2.jpg" alt="").article__pic
                .article__item__caption
                    h3 10 причин полюбить белый интерьер
                    p Мы так часто и так много пишем о разных белых интерьерах, что наконец-то решили сделать подборочку десяти, по нашему мнению, прекрасных белых интерьеров...
                    a(href="#").button Читать
        .col-lg-4
            article.article__item
                .banner.banner_vertical
                    a(href="#").banner__link
                        img(src="img/temp/2714279522559089340.jpg")
    
    article.row.article__item.article__item_colorize3
        .col-lg-8
            .article__item__pic
                a.hashtag(href="#") #Отели
                a(href="#").article__item__pic-link
                    img(src="/img/temp/otel-cour-des-vosges-v-parizhe-pufikhomes-5-1.jpg" alt="")
        .col-lg-4
            .article__item__caption
                h3 Отель Cour des Vosges с потрясающим видом на знаменитую площадь в Париже
                p В октябре на площади Вогезов в Париже открылся новый пятизвездочный отель — Cour des Vosges. Это красивая история про то, как современные стиль сочетается...
                a(href="#").button Читать