.container
    article.row.article__item
        .col-lg-4
            .article__item__caption
                a.hashtag(href="#") #Деревянные дома
                h3 Минималистичный деревянный домик в горах с роскошным видом
                p Роскошный вид из окон этого горного домика во Франции контрастирует с простым, но уютным интерьером. Отделка выполнена из светлого дерева, почти вся мебель также...
                a(href="#").button Читать
        .col-lg-8
            a(href="#").article__item__pic-link
                img(src="/img/temp/minimalist-chalet-with-amazing-view-pufikhomes-3.jpg" alt="")