.container.popular
    //- h2 Это читают больше всего
    .row.popular__list
        .col-lg-6
            article.popular__item
                .popular__item__pic
                    //- a.hashtag(href="#") #Дом
                    a(href="#").popular__item__pic-link
                        img(src="/img/temp/smart-kvartira-v-brazilii-pufikhomes-1-1.jpg" alt="").popular__pic
                    h3.accent.accent_dark
                        span Светлая квартира с персиковыми стенами на окраине Стокгольма
                .popular__item__caption
                    p Пусть эта бюджетная квартира и находится на <a href="#">олитике данных.</a> окраине Стокгольма в одном из спальных районов, её дизайн не лишён знаменитого скандинавского шарма, присущего апартаментам в центре города.
                    //- a(href="#").button Читать
        .col-lg-6
            article.popular__item
                .popular__item__pic
                    //- a.hashtag(href="#") #Урбан
                    a(href="#").popular__item__pic-link
                        img(src="/img/temp/interesting-colors-in-new-york-apartment-pufikhomes-1-1.jpg" alt="").popular__pic
                    h3.accent.accent_dark 
                        span Интересные цветовые сочетания в интерьере квартиры в Нью-Йорке
                .popular__item__caption
                    p Базовая отделка этой квартиры в Нью-Йорке заиграла по-новому благодаря интересной мебели и нетривиальным цветовым акцентам.
                    //- a(href="#").button Читать
        .col-lg-6
            article.popular__item
                .popular__item__pic
                    //- a.hashtag(href="#") #Маленькие квартиры
                    a(href="#").popular__item__pic-link
                        img(src="/img/temp/elegantnaya-skandinavskaya-kvartira-v-priglushennyh-tonah-pufikhomes-1.jpg" alt="").popular__pic
                    h3.accent.accent_dark
                        span Элегантная скандинавская квартира в приглушенных тонах
                .popular__item__caption
                    p Этот интерьер в Стокгольме вызывает ассоциацию с осенью. Немножко хмурый, драматично приглушенный, с ворсистым ковром и теплым текстилем — похоже, здесь очень приятно коротать прохладные осенние вечера.
                    //- a(href="#").button Читать
        .col-lg-6
            article.popular__item
                .popular__item__pic
                    //- a.hashtag(href="#") #Урбан
                    a(href="#").popular__item__pic-link
                        img(src="/img/temp/malenkaya-kvartira-v-temno-seryh-tonah-v-shvecii-40kvm-pufikhomes-2-1.jpg" alt="").popular__pic
                    h3.accent.accent_dark 
                        span Маленькая серая квартира с видом на залив в Стокгольме
                .popular__item__caption
                    p В этой очень компактной квартире в центре Стокгольме по сути нет спальни — есть только небольшая кровать в углу единственной жилой комнаты.
                    //- a(href="#").button Читать