.popular
    .container
        h3 это читают больше всего
        .article__list
            article.article
                div
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/smart-kvartira-v-brazilii-pufikhomes-1-1.jpg" alt="")
                    a(href="#").article__item__caption-link
                        span.text-underline Smart квартира в Бразилии
                p.article__item__description Эта роскошная современная квартира в Стокгольме наполнена уникальной дизайнерской мебелью и оригинальными предметами декора
                    a.hashtag(href="#") #Маленькие квартиры

            article.article
                div
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/elegantnaya-krasivaya-sovremennaya-kvartira-v-stokgolme-pufikhomes-4a.jpg" alt="")
                    a(href="#").article__item__caption-link
                        span.text-underline Изысканный дизайн современных апартаментов
                p.article__item__description Эта роскошная современная квартира в Стокгольме наполнена уникальной дизайнерской мебелью
                    a.hashtag(href="#") #Современный Арт-Деко

            article.article
                div
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/korichnevye-steny-v-skandinavskoi-kvartire-pufikhomes-1-1.jpg" alt="")
                    a(href="#").article__item__caption-link
                        span.text-underline Современная квартира с музыкальной комнатой в Стокгольме
                p.article__item__description Несмотря на стереотипы, сочетание бежевого и серого может быть удачным
                    a.hashtag(href="#") #Скандика

            article.article
                div
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/kids-room-for-two-three-pufikhomes-2a.jpg" alt="")
                    a(href="#").article__item__caption-link
                        span.text-underline Детская для двоих или троих: несколько прекрасных идей
                p.article__item__description Если в семье больше одного ребенка, а детская всего одна, то это может стать настоящей головной болью
                    a.hashtag(href="#") #Подборки

            article.article
                div
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/minimalistichnaya-kvartira-v-moskve-pufikhomes-2.jpg" alt="")
                    a(href="#").article__item__caption-link
                        span.text-underline 10 причин полюбить белый интерьер
                p.article__item__description Мы так часто и так много пишем о разных белых интерьерах, что наконец-то решили сделать подборочку
                    a.hashtag(href="#") #Концепции

            article.article
                div
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/smart-kvartira-v-brazilii-pufikhomes-1-1.jpg" alt="")
                    a(href="#").article__item__caption-link
                        span.text-underline Smart квартира в Бразилии
                p.article__item__description Эта роскошная современная квартира в Стокгольме наполнена уникальной дизайнерской мебелью
                    a.hashtag(href="#") #Маленькие квартиры

            article.article
                div
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/elegantnaya-krasivaya-sovremennaya-kvartira-v-stokgolme-pufikhomes-4a.jpg" alt="")
                    a(href="#").article__item__caption-link
                        span.text-underline Изысканный дизайн современных апартаментов
                p.article__item__description Эта роскошная современная квартира в Стокгольме наполнена уникальной дизайнерской мебелью и оригинальными предметами декора
                    a.hashtag(href="#") #Современный Арт-Деко

            article.article
                div
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/korichnevye-steny-v-skandinavskoi-kvartire-pufikhomes-1-1.jpg" alt="")
                    a(href="#").article__item__caption-link
                        span.text-underline Современная квартира с музыкальной комнатой в Стокгольме
                p.article__item__description Несмотря на стереотипы, сочетание бежевого и серого может быть удачным
                    a.hashtag(href="#") #Скандика

            article.article
                div
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/kids-room-for-two-three-pufikhomes-2a.jpg" alt="")
                    a(href="#").article__item__caption-link
                        span.text-underline Детская для двоих или троих: несколько прекрасных идей
                p.article__item__description Если в семье больше одного ребенка, а детская всего одна, то это может стать настоящей головной болью
                    a.hashtag(href="#") #Подборки

            article.article
                div
                    a(href="#").article__item__pic-link
                        img(src="/img/temp/minimalistichnaya-kvartira-v-moskve-pufikhomes-2.jpg" alt="")
                    a(href="#").article__item__caption-link
                        span.text-underline 10 причин полюбить белый интерьер
                p.article__item__description Мы так часто и так много пишем о разных белых интерьерах, что наконец-то решили сделать подборочку
                    a.hashtag(href="#") #Концепции

        .popular__controls
            .btn__controls.btn__left#popularMoveLeft
            .btn__controls.btn__right#popularMoveRight