.container.subscribe-section
        h2 
            | Всё самое интересное
            br
            | в твоей почте
        form.row
            .col-lg-6
                input#sub-section-mail(type="text" placeholder="Адрес почты")
            .col-lg-4
                button.button(type="submit" role="button") подписаться
            .col-sm-8
                p.subscribe-section__policy
                    | Нажимая на кнопку «Подписаться», я даю согласие на обработку персональных данных согласно 
                    a(href="#") Политике обработки персональных данных.
