.container.subscribe-section
    .row
        .col-lg-7
            .subscribe-section__title самое интересное в твоей почте.
            .subscribe-section__subtitle подписывайся на нашу рассылку

        form.col-lg-5
            input#sub-section-mail(type="text" placeholder="Адрес почты")
            button.button(type="submit" role="button") подписаться
            p.subscribe-section__policy
                | Нажимая на кнопку «Подписаться», я даю согласие на обработку персональных данных согласно&nbsp;
                a(href="#") Политике обработки персональных данных.