//- Include used template for this page
extends ../../templates/default/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - var title       = 'Spacebuilder | Всё о дизайне пространства'
    - var description = ''
    - var keywords    = ''
    - var pageClass   = 'page-index'
    
//- Content includes for this page
block content
    include _caption
    include _last-articles
    include _articles
    include _more
    //include _banner-horizontal
    include _subscribe
    include _popular