.article-creators {

  &__list {
    margin-bottom: 2rem;
  }

  &__item {
    margin-bottom: 3px;
  }

  &__caption {
    display: inline-block;
    margin-right: 1rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__person {
    font-weight: 700;
    text-transform: capitalize;
  }
}