//- Accent text
//- Buttons
.container.colors-container.my-5.pt-5
    .row
        .col-sm-6
            .accent.accent_dark
                span Lorem ipsum dolor sit consectetur adipisicing elit. Excepturi?
        .col-sm-6
            .accent.accent_lite
                span Lorem ipsum dolor sit consectetur adipisicing elit. Excepturi?