//- Buttons
.container.colors-container.my-5.pt-5
    .row
        .col-sm-3
            a.button(href="#") Some button text
        .col-sm-2
            a.button(href="#" style="background-color: transparent; color: #222;") Hover
        .col-sm-2
            a.button(href="#") Active
        .col-sm-2
            a.button(href="#") Visited
        .col-sm-2
            a.button(href="#") Focus