//- Colors
.container.colors-container.mt-5.mb-5
    .row
        .col-lg-2
            .colors-container__item(style="background-color: #eee;") 
                | $color-xxl
                br
                | #eee
                br
                | rgba(238, 238, 238, 1)
        .col-lg-2
            .colors-container__item(style="background-color: #dadbd9;")
                | $color-xl
                br
                | #dadbd9
                br
                | rgba(218, 219, 217, 1)
        .col-lg-2
            .colors-container__item(style="background-color: #b6b7b5;")
                |  $color-l
                br
                | #b6b7b5
                br
                | rgba(182, 183, 181, 1)
        .col-lg-2
            .colors-container__item(style="background-color: #9b9d9b;")
                | $color-m
                br
                | #9b9d9b
                br
                | rgba(155, 157, 155, 1)
        .col-lg-2
            .colors-container__item(style="background-color: #757675;")
                | $color-d
                br
                | #757675
                br
                | rgba(117, 118, 117, 1)
        .col-lg-2
            .colors-container__item(style="background-color: #575858;")
                | $color-xd
                br
                | #575858
                br
                | rgba(87, 88, 88, 1)