//- Typical Headers
.container.colors-container.mt-5.mb-5
    .row
        h1 H1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        h2 H2 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        h3 H3 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
