//- Icons from FontAwesome
.container.mt-5.pt-4
    .row
       .col-sm-12
            a.icon-link(href="#")
                i.fab.fa-facebook-f
            a.icon-link(href="#")
                i.fab.fa-instagram
            a.icon-link(href="#")
                i.fab.fa-vk
            a.icon-link(href="#")
                i.fab.fa-odnoklassniki
            a.icon-link(href="#")
                i.fab.fa-twitter
            a.icon-link(href="#")
                i.fab.fa-telegram-plane
            a.icon-link(href="#")
                i.fab.fa-pinterest-p
            a.icon-link(href="#")
                i.fab.fa-flipboard
            a.icon-link(href="#")
                i.fab.fa-youtube
            a.icon-link(href="#")
                i.fab.fa-viber
            a.icon-link(href="#")
                i.fab.fa-skype
            a.icon-link(href="#")
                i.fab.fa-line
            a.icon-link(href="#")
                i.fas.fa-arrow-left
            a.icon-link(href="#")
                i.fas.fa-arrow-right
            a.icon-link(href="#")
                i.fas.fa-check
            a.icon-link(href="#")
                i.fas.fa-chevron-left
            a.icon-link(href="#")
                i.fas.fa-chevron-right