//- Links
.container.mt-5.pt-4
    .row
        .col-sm-12
            a(href="#") Some text link
            | &nbsp;&nbsp;
        .col-sm-12
            p 
                |What does 
                a(href="#") some link 
                |  in the paragraph look like        