//- Typical paragraph
.container
    .row
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt <a href="#">some link text</a> officia, ullam cumque unde excepturi sed veniam velit temporibus numquam at quibusdam adipisci quo cum nisi molestias molestiae amet vel accusantium? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui ipsum, libero dolore officia hic velit ea quibusdam perferendis ullam repellendus ab quisquam harum laborum dicta nesciunt excepturi ipsam. Blanditiis, nam.
        p Lorem ipsum dolor sit <a href="#">Some link text</a> amet consectetur adipisicing elit. Quasi ducimus eligendi ut. Deleniti, totam! Dolorem, est accusantium! Hic sequi consectetur nemo a velit cupiditate ipsam aspernatur? Praesentium perferendis magnam dicta!