@import "../../scss/variables";

.subscribe {
  padding: 5rem;
  background-color: $color-back;
  border-radius: 7px;
  margin: 8rem 0 3rem !important;

  @media (min-width: 1650px) {
    padding: 7rem 5rem;

    .col-12 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: $l - 1) {
    padding: 3rem;
  }

  @media (max-width: $s - 1) {
    padding: 2rem 0 1rem;
    margin: 5rem 0 1rem !important;
  }

  &__title {
    font-size: 4rem;
    line-height: 4.7rem;
    font-weight: 800;
    letter-spacing: -.05em;
    text-transform: uppercase;
    margin-bottom: 0.7rem;

    @media (max-width: $m - 1) {
      font-size: 3rem;
      line-height: 1.5;
    }

    @media (max-width: $s - 1) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 100;
    word-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1rem;

    @media (max-width: $m - 1) {
      font-size: 2rem;
      font-weight: 200;
      line-height: 1.6;
    }

    @media (max-width: $s - 1) {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 17px;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  @media (max-width: 1649px) {
    input,
    .attention-policy {
      max-width: 500px;
    }
  }
}