
.subscribe {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;

  &__title {
    font-size: 4rem;
    line-height: 4.7rem;
    font-weight: 800;
    letter-spacing: -.05em;
    text-transform: uppercase;
    margin-bottom: 0.7rem;
  }

  &__subtitle {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 100;
    word-spacing: 2px;
    text-transform: uppercase;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 17px;
  }

  &__policy {
    margin-top: 30px;
    font-size: .83rem;
    line-height: 1.17rem;
  }
}