@import "../../scss/variables";

.article-list {
  justify-content: space-between;

  &__title {
    padding-bottom: 1rem;

    @media (max-width: $l - 1) {
      padding-top: 2rem;
    }

    h3 {
      @media (max-width: $l - 1) {
        font-size: 2rem;
        line-height: 3.5rem;
      }

      @media (max-width: $m - 1) {
        font-size: 1.5rem;
        line-height: 1.5;
      }
    }
  }
}

.article-page .article-list__title {
  padding: 0 0 1rem;
}