@import "../../scss/variables";

.mobile-nav-social {
  margin: 3rem 0;
  opacity: 0;
  transform: translateY(3rem);
  transition-delay: 0s;
  transition: transform 1s $animation-primary, opacity 2s $animation-primary;

  @media (max-width: $md - 1) {
    margin-bottom: 2rem;
  }

  .social-title {
    font-size: 1.3rem;
    font-weight: 200;
    color: white;
    max-width: 67%;
    line-height: 1.7;
    margin-bottom: 1.5rem;


    @media (max-width: $md - 1) {
      font-size: 1rem;
      line-height: 1.5;
      text-transform: none;
      margin-bottom: 1rem;
    }
  }

  .social__link {
    font-size: 1.5rem;
    padding: 0 16px;

    @media (max-width: $md - 1) {
      font-size: 1.3rem;
      padding: 0 11px;
    }
  }
}

nav.visible .mobile-nav-social {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: .1s;
}