* {
    box-sizing: border-box;
}

//- Make sticty footer
html, body {
    min-height: 100vh;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: $font-primary;
    font-style: normal;
    color: $color-primary-font;
    line-height: 1.5;
    overflow-x: hidden;
    background-image: repeating-linear-gradient(150deg,rgba(96,74,160,.06),rgba(96,74,160,.06) 1px,rgba(0,0,0,0) 0,rgba(0,0,0,0) 41px),repeating-linear-gradient(-150deg,rgba(96,74,160,.06),rgba(96,74,160,.06) 1px,rgba(0,0,0,0) 0,rgba(0,0,0,0) 41px);
    background-size: 82px 47px;
    background-attachment: fixed;

}

.container {
    @media (min-width: 1366px) {
        width: 100%;
        max-width: 75%;
    }
}

.header,
.footer {
    flex: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

// Colors example
.colors-container__item {
    height: 127px;
    width: calc(100% + 30px);
    display: flex;
    margin: 0 -15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    line-height: 1.7;
}

//- Headers
h1, .h1,
h2, .h2,
h3, .h3 {
  position: relative;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -.05em;
  text-transform: uppercase;
}
h1, .h1 {
  font-size: 4.7rem;
  line-height: 6rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
h2, .h2 {
  font-size: 4rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h3, .h3 {
  font-size: 2rem;
  line-height: 3.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


// Typical paragraph
p {
    line-height: 1.7;
    font-size: 1.131rem;
}

// Links
a {
    display: inline-block;
    position: relative;
    color: $color-primary-font;
    text-decoration: none;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 30%;
        opacity: .17;
        bottom: 4px;
        background-color: $color-d;
        transition: all .2s ease-in-out;
    }

    &:hover::before {
        height: 1px;
        opacity: .3;
    }
}

// Forms
form {
    input {
        padding: .962em 1em;
    }

    .button,
    input.button,
    button.button {
        padding: 1.375rem 3rem;
    }

    p {
        a::before {
            bottom: 3px;
        }
    }
}
input {
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $color-secondery-font;
  text-align: left;
  border: 1px solid $color-primary-font;
  color: $color-primary-font;
  padding: .7rem 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;

  &::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

//- Buttons
.button,
a.button,
button.button,
input.button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: $color-primary-font;
  padding: 1.1em 2em 1em;
  min-width: 170px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 2px solid $color-primary-font;
  font: inherit;
  transition: all .3s $animation-primary;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.83rem;
  letter-spacing: 2px;
  color: $color-l;

  &:link,
  &:visited {
    background-color: $color-primary-font;
    color: $color-l;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: $color-primary-font;
  }

  &::before {
    content: none;
  }
}

//- Icons
.icon-link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  margin: 0 7px;
  color: $color-d;
  bottom: 0;
  transition: all .3s;
  font-size: 1.17rem;

  &:hover {
    color: $color-primary-font;
    bottom: 1px;
  }

  &::before {
    content: none;
  }
}

//- Controls
.btn {
  &__controls {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid $color-xd;
    margin-right: 17px;
    cursor: pointer;
    transition: all .3s;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 25px;
      height: 1px;
      background-color: $color-xd;
      position: absolute;
      top: 50%;
      left: 47%;
      transition: all .3s;
    }
    &::before {
      transform: rotate(-50deg) translate(-50%);
    }
    &::after {
      transform: rotate(50deg) translate(-50%);
    }
  }

  &__left {
    transform: scale(-1, 1);
    background-color: $color-primary-font;
    border-color: $color-primary-font;
    &::before,
    &::after {
      background-color: $color-secondery-font;
    }
  }
}

.main {
  flex: 1 0 auto;
  margin-top: 130px;
  margin-bottom: 50px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.93em;
  cursor: pointer;
  color: $color-primary-font;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -.05em;

  &__letter {
    display: block;
    position: absolute;
    color: $color-d;
    font-size: 3.1rem;
    font-weight: 700;
    left: 50%;
    transform: translate(-52%, -2px);
    text-transform: none;
    color: $color-d;
    background: linear-gradient(67deg,#575858,#9b9d9b 50%,#dadbd9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__caption {
    z-index: 1;
  }

  &::before {
    content: none;
  }
}

.caption {
  font-size: 4rem;
  line-height: 1.13;
  margin-bottom: 5rem;

  span {
    font-weight: 100;
    word-spacing: 2px;
    color: $color-primary-font;
    background: linear-gradient(67deg,#575858,#9b9d9b 50%,#dadbd9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.header {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: transform .7s ease;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150%;
        background: hsla(0, 0%, 98%, .5);
        background-blend-mode: multiply;
        backdrop-filter: blur(25px);
        opacity: 0;
        transition: all .3s ease-in-out;
    }

    &.paint::before {
        opacity: 1;
        height: 100%;
    }

    &__wrapper {
       display: flex;
       align-items: baseline;
       justify-content: space-between;
    }

    &__nav {
        flex: 1 0 auto;

        &__list {
            display: flex;
            margin-left: 12px;
        }
        
        &__link {
            line-height: 70px;
            height: 70px;
            cursor: pointer;
            font-size: 0.81rem;
            transition: all .5s;
            margin-left: 1rem;
            text-transform: uppercase;

            &::before {
                content: none;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 22px;
                left: 50%;
                width: 0;
                height: 1px;
                background: rgb(87, 88, 88);
                background: linear-gradient(67deg, rgba(87, 88, 88, 1) 0%, rgba(155, 157, 155, 1) 50%, rgba(218, 219, 217, 1) 100%);
                transition: all .4s ease;
                opacity: 0;
            }

            &:hover::after {
                width: calc(100% - 2px);
                left: 1px;
                opacity: 1;
                animation: scrollBg 8s linear infinite;
            }

            &.active {
                font-weight: bold;
            }

            &.dim {
                opacity: .77;
            }
        }
    }
    &__socials__list {
        display: flex;
    }
    &__social__item {
        
        &:last-child {
            
            .icon-link {
                padding-right: 0;
            }
        }
    }

    .icon-link {
      line-height: 32px;
      padding: 0 9px;
      margin: 0;

      &:hover {
        bottom: 2px;
        color: $color-primary-font;
      }
    }

    &.hide {
        transform: translateY(-100%);
    }
}

.footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0;

  &__logo {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__link {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.875rem;
    font-style:normal;
    font-weight: 400;
    cursor: pointer;
    width: auto !important;

    &::before {
      content: none;
    }
  }

  &__privacy-list {
    .footer__link {
      text-transform: none;
    }
  }

  &__socials-list {
      display: flex;
      justify-content: flex-start;
      margin: 23px 0;

      .icon-link {
          margin: 0 27px 0 0;
      }
  }

  &__socials-caption {
    text-transform: uppercase;
    font-size: 0.9375rem;
    font-weight: 800;
  }

  &__copy p {
    text-align: left;
    font-size: 0.87rem;
    line-height: 1rem;
    margin-top: 3rem;

    a::before {
      bottom: 0;
    }
  }
}

.hashtag {
  font-weight: 400;
  font-size: .8rem;
  opacity: .7;
  text-transform: uppercase;
  padding-bottom: 1px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.cursor {
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    background-color: transparent;
    transform: translate(70px, 70px);
    border-radius: 50%;
    box-shadow: -70px -70px 0 0 rgba(255, 255, 255, 0.7);
    opacity: 0;
    z-index: 20;
    transition: 
        opacity .2s, 
        width 0s .1s,
        height 0s .1s,
        transform 0s .1s;
    
    &.show {
        width: 70px;
        height: 70px;
        opacity: 1;
        transform: translate(35px, 35px);
        transition: 
            opacity 0s 0s,
            width .3s 0s,
            height .3s 0s,
            transform .3s 0s;
    }
}

.article {
  margin-bottom: 50px;

  &__item {
  margin-top: 50px;
  margin-bottom: 100px;

    &__caption {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 0 0 30px;
      font-size: 0.94rem;

      h3 {
        font-family: $font-primary;
        margin-top: 0;
        word-spacing: 2px;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25;
        max-width: 100%;
        letter-spacing: 0;
        text-transform: none;
      }

      &-description,
      p {
          margin-bottom: 1.5rem;
          font-size: 0.8rem;
          opacity: 0.7;
      }

      &-link {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        max-width: 80%;
        margin: 17px 0 0 15px;
        position: relative;

        &::before {
          content: none;
        }

        & + div > .hashtag {
          text-transform: none;
          margin-top: 3px;
          margin-left: 15px;
        }
      }
    }

    &__pic {
      &-link {
          display: block;
          &::before {
              content: none;
          }

        &:hover + .article__item__caption-link .text-underline {
          background-size: 100% 100%;
        }
      }
    }
  }
}

.text-underline {
  width: 100%;
  background-image: linear-gradient(transparent calc(100% - 1px),$color-d 1px);
  background-repeat: no-repeat;
  transition: background-size .6s ease;
  background-size: 0 100%;

  &:hover {
    background-size: 100% 100%;
  }
}

.subscribe-section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__title {
    font-size: 4rem;
    line-height: 4.7rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -.05em;
    text-transform: uppercase;
    margin-bottom: 0.7rem;
  }

  &__subtitle {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 100;
    word-spacing: 2px;
    text-transform: uppercase;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 17px;
  }

  &__policy {
      margin-top: 30px;
      font-size: .87rem;
  }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &_horizontal {
        height: 250px;
        margin: 50px 0 30px;
    }

    &__link {
        &::before {
            content: none;
        }
    }
}

.popular {
  padding-top: 2rem;
  overflow: hidden;

  .container {
    position: relative;
    height: 620px;
  }

  .article__list {
    width: 99999px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: absolute;
    left: 15px;
  }

  .article {
    width: 256px;
    height: 420px;
    margin-right: 32px;
    background-color: $color-back;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    display: inline-flex;

    &__item {
      &__pic-link {
        height: 190px;

        img {
          height: 100%;
          width: auto;
        }
      }

      &__caption-link {
        font-size: 13px;
        font-weight: 700;
        margin: 0;
        padding: 15px 15px 0 25px;
        max-width: 100%;
        width: 100%;
        text-transform: uppercase;
      }

      &__description {
        font-size: 12px;
        padding: 0 15px 15px 25px;
        margin: 0;

        .hashtag {
          font-size: 12px;
          text-transform: none;
          font-weight: 700;
          opacity: 1;
          margin-top: 3px;
          display: block;
          margin-bottom: 0;

          &::before {
            content: none;
          }
        }
      }
    }
  }

  &__controls {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
}