@import "../../scss/variables";

.horizontal-ad-banner {
  width: 100%;
  height: 250px;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $lg - 1) {
    display: none;
  }
}