@import "../../scss/variables";

.footer {
  display: flex;
  align-items: center;
  position: fixed;
  padding-top: 50px;
  bottom: 0;
  z-index: -1;
  height: $footer-height;
  background-color: $color-back;
}