@import "../../scss/variables";

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  padding-top: 50px;
  bottom: 0;
  z-index: -1;
  height: $footer-height;
  background-color: $color-back;

  @media (max-width: $lg - 1) {
    padding-top: 0;
  }

  @media (max-width: $lg - 1) {
    height: 100vh;
    padding-top: 3.5rem;
  }

  @media (max-height: $sm - 1) {
    padding-top: 2rem;
  }
}