@import "../../scss/variables";

.absolute-wrapper {
  position: absolute;
  width: 100%;
  margin-bottom: $footer-height;
  padding-bottom: 4rem;
  background-color: white;

  @media (max-width: $l - 1) {
    margin-bottom: 100vh;
  }
}