@import "../../scss/variables";

.popular {
  padding-top: 2rem;
  overflow: hidden;

  .container {
    position: relative;
  }

  a::before {
    content: none;
  }

  &__title {
    @media (max-width: $l - 1) {
      font-size: 2rem;
      line-height: 3.5rem;
    }

    @media (max-width: $m - 1) {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }

  &__list__wrap {
    position: relative;
    height: 400px;
    margin-bottom: 2rem;
  }

  &__list {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    transition: left .3s ease;
  }
}