.popular {
  padding-top: 2rem;
  overflow: hidden;

  .container {
    position: relative;
  }

  a::before {
    content: none;
  }

  &__list__wrap {
    position: relative;
    height: 410px;
    margin-bottom: 33px;
  }

  &__list {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    transition: left .3s ease;
  }
}