// Sticky footer
html, body, #root {
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
.header,
.footer {
  flex: none;
}
.main {
  flex: 1 0 auto;
  padding-top: 130px;
  padding-bottom: 50px;
}

// Default styles
body {
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: $color-primary-font;
  line-height: 1.5;
  overflow-x: hidden;
  background-image: repeating-linear-gradient(150deg,rgba(96,74,160,.06),rgba(96,74,160,.06) 1px,rgba(0,0,0,0) 0,rgba(0,0,0,0) 41px),repeating-linear-gradient(-150deg,rgba(96,74,160,.06),rgba(96,74,160,.06) 1px,rgba(0,0,0,0) 0,rgba(0,0,0,0) 41px);
  background-size: 82px 47px;
  background-attachment: fixed;
}

// For more xl screens
.container {
    @media (min-width: 1366px) {
        width: 100%;
        max-width: 75%;
    }
}

// Lists
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Images
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

// Headers
h1, .h1,
h2, .h2,
h3, .h3 {
  position: relative;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -.05em;
  text-transform: uppercase;
  margin: 0;
}
h1, .h1 {
  font-size: 4.7rem;
  line-height: 6rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
h2, .h2 {
  font-size: 4rem;
  line-height: 4.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
h3, .h3 {
  font-size: 2rem;
  line-height: 3.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

// Typical paragraph
p {
  line-height: 1.7;
  font-size: 1.131rem;
  font-weight: normal;
  font-style: normal;
}

// Links
a,
.link {
  display: inline-block;
  position: relative;
  color: $color-primary-font;
  text-decoration: none;

  &:hover {
    color: $color-primary-font;
    text-decoration: none;
  }

  &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 37%;
      opacity: .17;
      bottom: 2px;
      background-color: $color-d;
      transition: all .2s ease-in-out;
  }

  &:hover::before {
      height: 1px;
      opacity: .3;
  }
}

// Forms
form {
  input {
    padding: .962em 1em;
  }

  .button,
  input.button,
  button.button {
    padding: 1.375rem 3rem;
  }

  p {
    a::before {
      bottom: 0;
    }
  }
}
input {
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $color-secondery-font;
  text-align: left;
  border: 1px solid $color-primary-font;
  color: $color-primary-font;
  padding: .7rem 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;

  &::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
  &::-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
  &:-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
  &:-ms-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
  &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  &:focus::-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  &:focus:-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  &:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

  &:active, &:hover, &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

// Buttons
.button,
a.button,
button.button,
input.button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: $color-primary-font;
  padding: 1.1em 2em 1em;
  min-width: 170px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 2px solid $color-primary-font;
  font: inherit;
  transition: all .3s $animation-primary;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.83rem;
  letter-spacing: 2px;
  color: $color-l;

  &:link,
  &:visited {
    background-color: $color-primary-font;
    color: $color-l;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: $color-primary-font;
    outline: 0;
    outline-offset: 0;
  }

  &::before {
    content: none;
  }

  &.blocked {
    background-color: $color-xd;
    border-color: $color-xd;
    cursor: default;
    &:hover {
      background-color: $color-xd;
      border-color: $color-xd;
      color: $color-l;
    }
  }
}

// Controls
.controller {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid $color-xd;
  margin-right: 17px;
  cursor: pointer;
  transition: all .3s;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 25px;
    height: 1px;
    background-color: $color-xd;
    position: absolute;
    top: 50%;
    left: 47%;
    transition: all .3s;
  }
  &::before {
    transform: rotate(-50deg) translate(-50%);
  }
  &::after {
    transform: rotate(50deg) translate(-50%);
  }

  &__left {
    transform: scale(-1, 1);
    background-color: $color-primary-font;
    border-color: $color-primary-font;
    &::before,
    &::after {
      background-color: $color-secondery-font;
    }
  }
}