// Animation functions
$animation-primary      : cubic-bezier(0.075, 0.82, 0.165, 1);

// Colors
$color-primary-font     : rgba(34, 34, 34, 1);      // #222222;
$color-light-font       : rgb(102, 102, 102);       // #666666
$color-secondary-font   : rgba(255, 255, 255, 1);   // #ffffff;
$color-xxl              : rgba(238, 238, 238, 1);   // #eeeeee;
$color-xl               : rgba(218, 219, 217, 1);   // #dadbd9;
$color-l                : rgba(182, 183, 181, 1);   // #b6b7b5;
$color-m                : rgba(155, 157, 155, 1);   // #9b9d9b;
$color-d                : rgba(117, 118, 117, 1);   // #757675;
$color-xd               : rgba(87, 88, 88, 1);      // #575858;
$color-back             : rgba(249, 249, 249, 1);   // #f9f9f9;
$link                   : rgba(117, 118, 117, .17); // #e8e8e8
$link-d                 : rgba(117, 118, 117, .2);  // #e3e4e3
$danger                 : rgba(220, 53, 69, 1);     // #dc3545;

// Fonts
$font-primary           : 'Montserrat', sans-serif;

$footer-height          : 520px;

// Media queries Screen sizes
$xxl                    : 1366px;
$xl                     : 1200px;
$lg                     : 992px;
$md                     : 768px;
$sm                     : 576px;