@import "../../scss/variables";

.cursor {
  position: fixed;
  width: 0;
  height: 0;
  background-color: transparent;
  transform: translate(70px, 70px);
  border-radius: 50%;
  box-shadow: -70px -70px 0 0 rgba(255, 255, 255, 0.7);
  opacity: 0;
  z-index: 20;
  transition:
          opacity .2s,
          width 0s .1s,
          height 0s .1s,
          transform 0s .1s;

  &.visible {
    width: 70px;
    height: 70px;
    opacity: 1;
    transform: translate(35px, 35px);
    transition:
            opacity 0s 0s,
            width .3s 0s,
            height .3s 0s,
            transform .3s 0s;
  }


  @media (max-width: $lg - 1) {
    display: none;
  }
}