.cursor {
  position: fixed;
  width: 0;
  height: 0;
  background-color: transparent;
  transform: translate(80px, 80px);
  border-radius: 50%;
  box-shadow: -80px -80px 0 0 rgba(255, 255, 255, 0.7);
  opacity: 0;
  z-index: 20;
  transition:
          opacity .2s,
          width 0s .1s,
          height 0s .1s,
          transform 0s .1s;

  &.visible {
    width: 80px;
    height: 80px;
    opacity: 1;
    transform: translate(40px, 40px);
    transition:
            opacity 0s 0s,
            width .3s 0s,
            height .3s 0s,
            transform .3s 0s;
  }
}