@import "../../scss/variables";
@import "../../scss/extends";

.nav {
  &__list {
    display: flex;
  }

  &__link {
    cursor: pointer;
    font-size: 0.81rem;
    transition: all .5s;
    text-transform: uppercase;

    &::before {
      content: none;
    }
  }
}

.header {
  .nav {
    flex: 1 0 auto;

    &__list {
      margin-left: 0.7rem;
    }

    &__link {
      line-height: 70px;
      height: 70px;
      margin-left: 1rem;
      letter-spacing: 0.37px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 22px;
        left: 50%;
        width: 0;
        height: 1px;
        background: rgb(87, 88, 88);
        background: linear-gradient(67deg, rgba(87, 88, 88, 1) 0%, rgba(155, 157, 155, 1) 50%, rgba(218, 219, 217, 1) 100%);
        transition: all .4s ease;
        opacity: 0;
      }

      &:hover::after {
        width: calc(100% - 2px);
        left: 1px;
        opacity: 1;
        animation: scrollBg 8s linear infinite;
      }

      &.active {
        font-weight: bold;
      }

      &.dim {
        opacity: .77;
      }
    }
  }
}

.footer {
  .nav {

    &__list {
      flex-direction: column;
    }

    &__item {
      margin-bottom: 20px;

      &:last-child a {
        font-weight: 700;
      }
    }

    &__link {
      @extend %text-underline;
      padding-left: 0;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 0.875rem;
      width: auto !important;
    }
  }
}