@import "../../scss/variables";
@import "../../scss/extends";

.popular {
  padding-top: 2rem;
  overflow: hidden;

  .container {
    position: relative;
    height: 600px;
  }

  a::before {
    content: none;
  }

  &__list {
    width: 99999px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: absolute;
    left: 15px;
  }

  &__item {
    width: 280px;
    height: 390px;
    margin-right: 32px;
    background-color: $color-back;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    display: inline-flex;

    &__picture {
      height: 190px;
      width: 100%;
      background-size: cover;

      &:hover + .popular__item__caption span {
        background-size: 100% 100%;
      }
    }

    &__caption {
      font-size: 0.8rem;
      font-weight: 700;
      margin: 0;
      padding: 0.5rem 1rem 0 1.33rem;
      max-width: 100%;
      width: 100%;
      text-transform: uppercase;

      span {
        @extend %text-underline;
      }
    }

    &__description {
      font-size: 12px;
      padding: 0 15px 15px 25px;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        width: auto;
        font-size: 0.73rem;
        line-height: 1rem;
        font-weight: 700;
        padding-top: 5px;
        letter-spacing: 1px;
        left: 0;
        transition: all .3s;

        &:hover {
          opacity: .77;
          left: 3px;
        }
      }
    }
  }

  &__controls {
    position: absolute;
    bottom: 0;
  }
}