@import "../../scss/variables";
@import "../../scss/extends";

.article-list {
  &__item {
    margin-bottom: 3.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:nth-child(odd) {
      padding-right: 4rem;
    }

    &:nth-child(even) {
      padding-left: 4rem;
    }

    &:first-child {
      padding-right: 15px;
    }

    .padding-huck {
      background-size: cover;
      background-position: center;

      &::before {
        display: block;
        content: '';
        padding-bottom: 67%;
      }
    }


    &.visible {
      .article-list__picture {
        animation: pictureAnimate .7s ease-out .5s forwards;
      }

      .article-list__rubric {
        animation: rubricAnimate 1s ease-out .7s forwards;
      }

      .article-list__caption {
        animation: captionAnimate 1s ease-out 1s forwards;
      }
    }
  }

  &__picture {
    width: 100%;
    opacity: 0;

    &::before {
      content: none;
    }

    &:hover + .article-list__rubric + .article-list__caption span {
      background-size: 100% 100%;
    }
  }

  &__rubric {
    @extend %rubric;
    text-transform: none;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 0.75rem;
    opacity: 0;
    transform: translateY(50%);
  }

  &__caption {
    max-width: 80%;
    margin: 0.3rem 0 0 1rem;
    position: relative;
    line-height: 1.25;
    opacity: 0;
    transform: translateY(50%);

    &::before {
      content: none;
    }

    span {
      @extend %text-underline;
    }
  }
}

@keyframes pictureAnimate {
  to {
    opacity: 1;
  }
}

@keyframes rubricAnimate {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes captionAnimate {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}