@import "../../scss/variables";
@import "../../scss/extends";

.article-list {
  &__item {
    margin-bottom: 3.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:nth-child(odd) {
      padding-right: 4rem;
    }

    &:nth-child(even) {
      padding-left: 4rem;
    }

    .padding-huck {
      background-size: cover;

      &::before {
        display: block;
        content: '';
        padding-bottom: 67%;
      }
    }
  }

  &__picture {
    width: 100%;
    &::before {
      content: none;
    }

    &:hover + .article-list__rubric + .article-list__caption span {
      background-size: 100% 100%;
    }
  }

  &__caption {
    max-width: 80%;
    margin: 0.3rem 0 0 1rem;
    position: relative;
    line-height: 1.25;

    &::before {
      content: none;
    }

    span {
      @extend %text-underline;
    }
  }

  &__rubric {
    @extend %rubric;
    text-transform: none;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 0.75rem;
  }
}